<div>
  <h1>Stupid Coaching</h1>
  <h2 id="title">Ask your coach anything:</h2>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" id="form-ask">
    <input type="submit" value="Ask!" id="button">
  </form>
</div>
